* {
  font-family: 'Poppins', 'Arial', sans-serif;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;

  /* Breakpoints */
  --width-desktop: 1440px;
  --width-mobile: 375px;

  /* Colors */
  /* - Primary */
  --p-cyan: hsl(180, 66%, 49%);
  --p-dark-violet: hsl(257, 27%, 26%);

  /* - Secondary */
  --s-red: hsl(0, 87%, 67%);

  /* - Neutral */
  --n-gray: hsl(0, 0%, 75%);
  --n-light-gray: hsl(230, 25%, 95%);
  --n-greyish-violet: hsl(257, 7%, 63%);
  --n-very-dark-blue: hsl(255, 11%, 22%);
  --n-very-dark-violet: hsl(260, 8%, 14%);

  /* Spacing */
  --spacing-section: 7.5rem;
  --content-container-width: calc(1440px - var(--spacing-section) * 2);

  --rounding-radius: 0.5rem;
}

body {
  display: grid;
  font-size: 1rem;
}

nav,
header,
section,
footer,
main {
  display: grid;
  grid-template-columns: minmax(auto, var(--content-container-width));
  justify-content: center;
}

nav > .content,
header > .content,
section > .content,
footer > .content,
main > .content {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  color: var(--n-very-dark-violet);
  font-size: 4rem;
  line-height: 1.15;
}

h4 {
  font-size: 0.9rem;
}

p {
  line-height: 2;
  color: var(--n-greyish-violet);
}

a {
  color: var(--p-cyan);
  text-decoration: none;
}

input {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

input:focus-visible {
  outline:none;
}

.logo {
  display: flex;
}

.button {
  line-height: 2;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  transition: all 100ms ease-out;
}

.button.text {
  color: var(--n-greyish-violet);
}

.button.filled {
  color: white;
  background-color: var(--p-cyan);
  filter: brightness(100%);
}

.button.round {
  border-radius: 1000rem;
}

.button.square {
  border-radius: var(--rounding-radius);
}

.button.text:hover {
  color: var(--p-dark-violet);
}

.button.filled:hover {
  filter: brightness(107.5%);
}

nav {
  margin-bottom: 3rem;
}

nav .content {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  place-items: center normal;
  column-gap: 2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

nav ul li:not(:first-of-type) {
  margin-left: 2rem;
}

nav ul li a {
  color: var(--n-greyish-violet);
}

nav ul li a:hover {
  color: var(--p-dark-violet);
}

nav .menu.mobile {
  display: none;
  height: 2rem;
  width: 2rem;
  justify-self: end;
}

/* Target masthead header with adjacent operator */
nav + header {
  background-image: url('/assets/illustration-working.svg');
  background-repeat: no-repeat;
  background-position-x: 47.5vw;
  background-size: contain;

  padding-top: 4rem;
  padding-bottom: 6rem;
}

header h1 {
  max-width: 30rem;
  margin-bottom: 1rem;
}

header p {
  max-width: 25rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

main {
  transform: translateY(50%);
}

main .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

main form {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;

  box-sizing: border-box;

  padding: 2.5rem 2.75rem;

  background-color: var(--p-dark-violet);
  background-image: url('/assets/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--rounding-radius);
}

main form p {
  font-style: italic;
  margin: 0;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

main input[type=url] {
  color: var(--n-greyish-violet);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: white;
  position: relative;
}

input[type=url]:invalid {
  box-shadow: inset 0 0 0 0.125rem #ff675c;
  color: #ff675c;
}

/* Overwrite textbox invalid state
 * if no input given */
main form input[type=url]:placeholder-shown {
  box-shadow: unset;
  color: var(--n-greyish-violet);
}

#error-message {
  grid-column: 1 / 3;
}

#error-message p {
  color: #ff675c;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

#shorten-results {
  background-color: var(--n-light-gray);
  padding: 5rem 1rem 4rem 1rem;
}

#shorten-results article {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  column-gap: 1.5rem;

  flex: 1;
  padding: 1rem 2.75rem;
  background: white;

  margin-top: 1rem;
  border-radius: var(--rounding-radius);
}

#shorten-results article .link {
  text-align: end;
  word-break: break-all;
}

#shorten-results article .link:first-of-type {
  color: var(--n-very-dark-blue);
  text-align: start;
}

#shorten-results article .button {
  width: 4rem;
}

#shorten-results article .button::after {
  content: 'Copy';
}

#shorten-results article .button.copied {
  color: white;
  background: var(--p-dark-violet);
}

#shorten-results article .button.copied::after {
  content: 'Copied!';
}

.cards {
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-color: var(--n-light-gray);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards > h2 {
  grid-column: 1 / 4;
  text-align: center;
}

.cards > p {
  grid-column: 1 / 4;
  text-align: center;
  max-width: 30rem;
}

.cards > .container {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  --card-offset: 2.25rem;
  --connector-y-offset: 15rem;
}

.card {
  position: relative;
}

.card.container {
  max-width: 20rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card .icon.container {
  display: inline-flex;
  margin-left: 1.5rem;
  transform: translateY(50%);
}

/* Hardcode aspect ratio
 * to avoid layout flashing.*/
.card img.icon {
  padding: 1.25rem;
  height: 2.25rem;
  width: 2.25rem;
  background-color: var(--p-dark-violet);
  border-radius: 100%;
}

.card .content.container {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  box-shadow: 2px 7.5px 3px 0px rgba(0,0,0,0.02);
}

.card:not(:last-of-type) {
  padding-right: 2rem;
}

.card:not(:last-of-type)::after {
  content: '';
  background: var(--p-cyan);
  position: absolute;
  width: 2rem;
  height: 0.5rem;
  right:0;
}

.card:nth-of-type(2) {
  margin-top: var(--card-offset);
  margin-bottom: calc(var(--card-offset) * -1);
}

.card:nth-of-type(1)::after {
  top: var(--connector-y-offset);
}

.card:nth-of-type(3) {
  margin-top: calc(var(--card-offset) * 2);
  margin-bottom: calc(var(--card-offset) * -2);
}

.card:nth-of-type(2)::after {
  top: calc(var(--connector-y-offset) - var(--card-offset));
}

section.cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--p-dark-violet);
  background-image: url('/assets/bg-boost-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 4rem;
  padding-bottom: 4rem;
}

section.cta h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 0rem;
}

footer {
  background-color: var(--n-very-dark-violet);
  color: white;

  padding-top: 3rem;
  padding-bottom: 5rem;
}

footer .content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
}

footer .logo {
  display: block;
}

footer a {
  font-size: 0.9rem;
  color: rgba(255,255,255,0.8);
}

footer a:hover {
  color: var(--p-cyan);
}

footer h3 {
 margin-top: 0;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
}

footer ul li:not(:last-of-type) {
  margin-bottom: 0.8rem;
}

footer .icons.container {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 2rem;
  row-gap: 2rem;
}

footer .icon {
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon.facebook {
  background-image: url(/assets/icon-facebook.svg);
}

.icon.twitter {
  background-image: url(/assets/icon-twitter.svg);
}

.icon.pinterest {
  background-image: url(/assets/icon-pinterest.svg);
}

.icon.instagram {
  background-image: url(/assets/icon-instagram.svg);
}

.icon.facebook:hover {
  background-image: url(/assets/icon-facebook-hover.svg);
}

.icon.twitter:hover {
  background-image: url(/assets/icon-twitter-hover.svg);
}

.icon.pinterest:hover {
  background-image: url(/assets/icon-pinterest-hover.svg);
}

.icon.instagram:hover {
  background-image: url(/assets/icon-instagram-hover.svg);
}

@media (max-width: 1024px) {
  nav .content {
    grid-template-columns: auto auto;
    padding: 2rem;
  }

  nav .menu.mobile {
    display: flex;
  }

  nav ul,
  .menu.desktop {
    display: none;
  }

  nav + header {
    padding-top: 45vw;
    padding-bottom: 3rem;
    background-position: left 17.5vw top 0vh;
    background-size: 70vw;
  }

  nav + header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav + header h1,
  nav + header p {
    max-width: unset;
  }

  nav + header h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  nav + header p {
    font-size: 1.15rem;
    max-width: 30rem;
  }

  nav + header .button {
    margin-top: 5rem;
    padding: 1rem 3rem;
    font-size: 1.15rem;
  }

  section.cards > .container {
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
  }

  section.cards .icon.container {
    margin-left: 0rem;
    justify-content: center;
  }

  .card:not(:last-of-type) {
    padding-right: 0rem;
  }
  .card:not(:last-of-type)::after {
    --connector-width: 0.5rem;
    top: 100%;
    right: calc(50% - var(--connector-width)*0.5);
    height: 6rem;
    width: 0.5rem;
  }

  .card.content.container {
  }

  footer .content {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3rem;
    text-align: center;
  }

  footer .logo {
    grid-column: 1 / 4;
  }

  footer .icons {
    grid-column: 1 / 4;
  }
}

@media (max-width: 900px) {
  main #shorten-form {
    padding: 1.5rem;
    background-image: url(/assets/bg-shorten-mobile.svg);
    /* Stretch background to fill*/
    background-size: 100% 100%;
  }

  #shorten-results article {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, auto);
    padding-top: 0.5rem;
  }

  #shorten-results article .link {
    text-align: start;
    margin: 0rem -2.75rem;
    padding: 1rem 1.5rem;
  }

  #shorten-results article .link:first-of-type {
    text-align: inherit;
    border-bottom: 0.125rem solid var(--n-light-gray);
  }

  #shorten-results article .button {
    display: flex;
    justify-content: center;
    width: auto;

    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }

  section.cta {
    background-image: url(/assets/bg-boost-mobile.svg);
    background-size: 100% 100%;
  }
}

@media (max-width: 700px) {
  nav + header {
    padding-top: 45vw;
    padding-bottom: 3rem;
    background-position: left 17.5vw top 0vh;
    background-size: 70vw;
  }

  nav + header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav + header h1 {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  nav + header h1 {
    font-size: 3rem;
  }

  nav + header p {
    font-size: 1rem;
    text-align: justify;
    text-align-last: center;
  }

  nav + header .button {
    margin-top: 0rem;
    font-size: 1rem;
    padding: 0.75rem 2.5rem;
  }

  nav + header {
    padding-bottom: 0;
  }

  main {
    margin-top: -1rem;
  }

  #shorten-form {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, auto);
    row-gap: 1rem;
  }

  #error-message {
    grid-column: unset;
  }

  #error-message p {
    margin: 0;
  }

  #shorten-results {
    padding-top: 8rem;
  }

  footer .content {
    grid-template-columns: 1fr;
  }

  footer .content > * {
    grid-column: 1 / 2;
  }
}

@media (max-width: 500px) {
  nav + header {
    padding-top: 87.5vw;
    padding-bottom: 3rem;
    background-position: left 5vw top 0vh;
    background-size: 125vw;
  }

  section.cta h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 425px) {
  nav + header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  nav + header h1 {
    font-size: 2.35rem;
  }

  #shorten-form input[type=url] {
    min-width: 0rem;
  }
}
